* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url('/images/pexels-pixabay-207692.jpg');
    background-position: center;
    background-size: cover;
    text-transform:capitalize;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.toggleBtn{
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.brand {
    font-size: 2.1rem;
    font-weight: 500;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item{
        margin: 2.5rem 0;
    }

    .toggleBtn {
        display: block;
        cursor: pointer;
    }

}

             /* end of Index page and Navbar */
             
            /* Beginning of Registration page */

.container {  
    padding: 50px;  
  background-color: wheat;  
}  
  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: orange;  
  outline: none;  
}  
 div {  
            padding: 10px 0;  
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 1;  
}  
                /* end of Registration page */

                /* begin of attendance page */

.cont{
    background-color: skyblue;
}

table{
    width: 100%;
}

table{
    border-collapse: collapse;
    text-align: center;
}
table.list{
    width:100%;
    text-align: center;
}
table.list td{
    text-align: center;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: skyblue;
}
input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form{
    background-color: skyblue;
    padding: 10px;

}
form div.form-action-buttons{
    text-align: center;

}
a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}
label.validation-error{
    color:   red;
    margin-left: 5px;
}
.hide{
    display:none;
}

                    /* end of registration */
                    /* begin Attendance */

                    form{
                        width: 100%;
                        background-color: wheat;
                        position: relative;
                      }
                      
                      .container {  
                      padding: 10px;  
                      background-color: wheat;
                      position: absolute;
                      width: 50%;
                      }  
                      
                      input[type=text]{  
                      width: 70%;  
                      padding: 15px;  
                      margin: 5px 0 22px 0;  
                      display: inline-block;  
                      border: none;  
                      background: #f1f1f1;  
                      }  
                      
                      input[type=text]:focus {  
                      background-color: orange;  
                      outline: none;  
                      }  
                      
                      /* hr {   
                      border: 1px solid #f1f1f1;  
                      margin-bottom: 25px;  
                      } */
                      
                      
                      .submitBtn {  
                      background-color: #4CAF50;  
                      color: white;  
                      padding: 16px 20px;  
                      margin: 8px 0;  
                      border: none;  
                      cursor: pointer;  
                      width: 20%;  
                      opacity: 0.9;  
                      }  
                      
                      .submitBtn:hover {  
                      opacity: 1;  
                      }  
                      
                      .box{
                        position: absolute;
                        top: 0%;
                        right: -100%;
                        background-color:wheat;
                        /* padding: 23.5% 10%; */
                        /* padding: 81px 44px; */
                        width: 100%;
                        height: 100%;
                      
                        
                      }
                      
                      .firstnameOut{
                      width: 90%;  
                      padding: 10px;  
                      margin: 5px 0 22px 0;  
                      display: block;
                      border: none;   
                      
                      }
                      
                      .rollnumberOut{
                        width: 90%;  
                        padding: 10px;  
                        margin: 5px 0 22px 0;  
                        display: block; 
                        border: none;  
                        /* background: red;  */
                        
                        }
                      
                        .studentclassOut{
                          width: 90%;  
                          padding: 10px;  
                          margin: 5px 0 22px 0;  
                          display: inline-block;  
                          border: none;  
                          /* background: red;  */
                          
                          }
                      
                          .totalsubjectOut{
                            width: 90%;  
                            padding: 10px;  
                            margin: 5px 0 22px 0;  
                            display: inline-block;  
                            border: none;  
                            /* background: red;  */
                            
                            }
                      
                            .ageOut{
                              width: 90%;  
                              padding: 10px;  
                              margin: 5px 0 22px 0;  
                              display: inline-block;  
                              border: none;  
                              /* background: red;  */
                              
                              }